var imgPrefix = 'https://img.wozaizhao.com/';
var genderMale = 1;
var genderFemale = 2;

function imgURL(key) {
  if (key) {
    if(key.indexOf('http') > -1) {
      return key;
    } else {
      return imgPrefix + key;
    }
  }
  return key;
}

function genderText(gender) {
    return gender === genderMale ? '男' : gender === genderFemale ? '女' : '未知';
};

module.exports = {
  imgURL: imgURL,
  genderText: genderText
}
